.section-two {
	background-color: $white;
	@extend %sectionSubheader;

	.section-two__descr {
		.header {
			color: $black;
			@extend %boldText;
		}
		.descr {
			color: $greyDark;
		}
	
	}
	@include md {
		.section-two__descr {
			.header {
				text-align: center;
			}
			.btn-container {
				text-align: center;
			}
		}
	}

	@include xs {
		.section-two__descr {
			.header {
				text-align: center;
			}
			.btn-container {
				text-align: center;
			}
		}	
	}
}