.section-two {
	background-color: $white;
	@extend %sectionSubheader;
	.section-two__descr {
		.header {
			color: $black;
		}
		.descr {
			color: $greyDark;
		}
		.btn-container {
			margin-bottom: 5.1em;
			.btn {
				@extend %button;
			}
		}	
	}
	@include md {
		.section-two__descr {
			.header {
				text-align: center;
			}
			.btn-container {
				text-align: center;
			}
		}
	}

	@include xs {
		.section-two__descr {
			.header {
				text-align: center;
			}
			.btn-container {
				text-align: center;
			}
		}	
	}
}