.section-four{
	background-color: $white;
	@extend %sectionSubheader;
	.header {
		color: $greyDark2;
		text-align: center;
		@extend %boldText;

	}
	.descr {
		color: $greyDark2;
		text-align: center;
	}
	.services-container {
		.services-img{
			padding-bottom: 30px;
		}
		text-align: center;
		@include paddingTB(2.6em, 1.6em);
		.services-header {
			@extend %boldText;
			text-transform: uppercase;
			font-size: 1.125em;
			color: $greyDark2;
		}
		.services-par {
			font-size: 1em;
			color: $greyDark;
		}
	}
	.price-btn-container {
		
		padding-top: 3.8rem;
		padding-bottom: 1.5rem;
		margin: 0 auto;

		.price-btn {
			@extend %button;
			paddind-left: 15px;

		}
	}
}